<% include partials/header %>
<% include partials/navbar %>

<h2> About Page </h2>
<div class="row">
  <div class="col-md-6">
  <br>
  <br>
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="\assets\jerry.mp4"></iframe>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="contact">
Contact Details:<br>
Phone: 9876543210<br>
Mail ID: usladders@gmail.com<br>
Address: 
Northwest Missouri State University<br>
800 University Drive<br>
Missouri, MO 64468<br>
</div>
</div>

  
  <div class="col-md-6">
  <br>
  <br>
  <label id="serv" for="services"><b>Services Offered:</b></label><br>
  <div class="ser">
 <label for="services"> Updates regarding OPT,H1,Immigration</label><br><br>
 <label for="services"> Apply for jobs that sponsor H1</label><br><br>
 <label for="services"> Employers can post jobs on the site</label><br><br>
 <label for="services"> Help in builiding resume and tips to crack interview</label><br>
  

 </div>
   </p>
  
  
</div>
<% include partials/footer %>
