<% include partials/header %>
<% include partials/navbar %>
<p>Your application is submitted</p>


 <a href = "/findingJob" class="btn btn-success"> Apply more Jobs </a>
 <a href = "/jobsApplied" class="btn btn-success"> View your job applications </a>

<% include partials/footer %>
