<% include partials/header %>
<% include partials/navbar %>


<h1>Hiring? Post your Job here!! </h1>

<% if(errors != undefined){ %>
<ul>
<% errors.forEach(function(error){ %>
<li> <%= error.msg %> </li>
<% }) %>
</ul>

<% } %>
<form method ="POST" action = "/jobs/add" >
<% if(!user){ %>
<h3> <b> Please Login to Post a Job </b> </h3> 				
					<% } %>
<br>
<label> Company Name  </label>
<input type="text" name="company_name" required class="form-control" placeholder="Company Name">
<br>
<label> Company ID </label>
<input type="text" name="company_id" required class="form-control" placeholder="Company ID">
<br>
<label> Employee Name </label>
<input  type="text" name= "employee_name" required class="form-control" placeholder="Employee Name">
<br>
<label> User Name </label>
<input  type="text" name= "user_name" required class="form-control" value = "<%= user.username %>" readonly>
<br>
<label> Job Category </label>
<br>
<select type="text" name="job_category" required class="form-control">
  <option>Computer Science</option>
  <option>Finance</option>
  <option>Accounting</option>
  <option>Health Science</option>
  <option>Mangement</option>
</select>
<br>
<label> Job Description </label>
<textarea name="job_description" required="required" class="form-control" rows="3" placeholder="Description"></textarea>
<br>
<label> Qualifications Required</label>
<textarea name="qualifications" required="required" class="form-control" rows="3" placeholder="Description"></textarea>
<br>
<label> Providing H1 </label>
<br>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" checked value="option1"> Yes
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> NO
</label>
<br>
<br>
<label> Experience Required </label>
<br>
<select name="experience" class="form-control">
  <option>0-1 yrs</option>
  <option>1-2 yrs</option>
  <option>2-3 yrs</option>
  <option>3-4 yrs</option>
  <option>More than 4 yrs</option>
</select>
<br>
<label>Contact Details</label>
<textarea name="contact_details" required="required" class="form-control" rows="3" placeholder="Contact Details"></textarea>
<br>
<br>

<% if(user){ %>
<input type= "submit" name="Submit" class="btn btn-success" >
 <% } %>
</form>

<% include partials/footer %>
