<% include partials/header %>
<% include partials/navbar %>

<h1> Resources </h1>
<div class="row">
  <div class="col-md-6">
  <br>
  <br>
  <a href="/sampleResumes">
  <img src="https://iln.isba.org/sites/default/files/blog/u47347/resumehelp.png" class="img-thumbnail" alt="sampleResumes" width="304" height="236">
</a> 
<a href="/sampleResumes">
<br><b>Sample Resume</b>
					</a>
					<br>
					<br> 
					<br>
					<br>

                 <a href="/coverLetters">
					<img src="https://i2.wp.com/idealistcareers.org/wp-content/uploads/2013/10/cover-letter.jpg?fit=1000%2C667" class="img-thumbnail" alt="coverLetters" width="304" height="236"></a>
					<a href="/coverLetters">
						<br><b>Cover Letter</b>
					</a>

					<br>
					<br>
					<br>
</div>

<div class="col-md-6">
<br>
<br>

<a href="/sampleResumeStudent">
<img src="http://images.clipartpanda.com/job-clipart-12756494755_4d28d4d3fd.jpg" class="img-thumbnail" alt="sampleResumeStudent"  width="304" height="100"></a>
<a href="/sampleResumeStudent"><br><b>Sample Resume(Student)</b>
					</a>
</div>
</div>


<% include partials/footer %>