<% include partials/header %>
<% include partials/navbar %>

<h1> Resources </h1>
<div class="row">
  <div class="col-md-6">
  <br>
  <br>
<a data-assetid="TM00002110" data-app="Word" data-category="Resumes and Cover Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM00002110" ms.ea_offer="Template" data-bi-dlid="TM00002110" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://omextemplates.content.office.net/support/templates/en-us/tf00002110.docx" role="button">
						<b>Sample Resume</b>
					</a>
					<br>
					<br>
					<br>
					<br>
					<a data-assetid="TM10378274" data-app="Word" data-category="Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM10378274" ms.ea_offer="Template" data-bi-dlid="TM10378274" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://omextemplates.content.office.net/support/templates/en-us/tf10378274.dotx" role="button">
						<b>Cover Letter</b>
					</a>
</div>
<div class="col-md-6">
<br>
<br>
<a data-assetid="TM16402507" data-app="Word" data-category="Resumes and Cover Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM16402507" ms.ea_offer="Template" data-bi-dlid="TM16402507" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://omextemplates.content.office.net/support/templates/en-us/tf16402507.docx" role="button">
						<b>Sample Resume(Student)</b>
					</a>
</div>


<% include partials/footer %>