<% include partials/header %>
<% include partials/navbar %>



<h1>Sample Resumes Students</h1>


<div class="container">
    
<table class="table table-bordered">
<thead>
<tr>
 <th class="col-md-2">S.No</th>
 <th class="col-md-2">Resume</th>
</tr>
</thead>
<tbody>
<tr>
 <td>1</td>
 <td><a data-assetid="TM00002110" data-app="Word" data-category="Resumes and Cover Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM00002110" ms.ea_offer="Template" data-bi-dlid="TM00002110" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://omextemplates.content.office.net/support/templates/en-us/tf00002110.docx" role="button">
   <b>Sample Resume 1</b>
</a> </td>
</tr>
<tr>
 <td>2</td>
 <td><a data-assetid="TM00002110" data-app="Word" data-category="Resumes and Cover Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM00002110" ms.ea_offer="Template" data-bi-dlid="TM00002110" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://resumegenius.com/wp-content/uploads/2016/01/Template-DL-PP-Connery.zip" role="button">
   <b>Sample Resume 2</b>
</a> </td>
</tr>
<tr>
 <td>3</td>
 <td><a data-assetid="TM00002110" data-app="Word" data-category="Resumes and Cover Letters" ms.ea_action="DownloadWin32" ms.ea_name="TM00002110" ms.ea_offer="Template" data-bi-dlid="TM00002110" data-bi-dltype="Win32" data-bi-dlnm="Template" data-bi-name="Download" data-bi-bhvr="DOWNLOAD" class="c-button odcom-template-details-action-button odcom-template-details-action-button-primary" href="https://resumecompanion.com/wp-content/uploads/2016/11/Downloadable-Labrador-Template-Pack.zip" role="button">
   <b>Sample Resume 3</b>
</a> </td>
</tr>
</tbody>
</table>
</div>