  <% include partials/header %>
<% include partials/navbar %>

<h1> Update your profile </h1>


<% if(errors != undefined){ %>
<ul>
<% errors.forEach(function(error){ %>
<li> <%= error.msg %> </li>
<% }) %>
</ul>

<% } %>

<form method ="POST" action ="/userprofiles/add" >
<br>
<label> First Name </label>
<input type="text" name="first_name" required class="form-control" placeholder="First Name">
<br>
<label> Last Name </label>
<input type="text" name="last_name" required class="form-control" placeholder="Last Name">
<br>
<label> Address </label>
<textarea name="address" required="required" class="form-control" rows="3" placeholder="Address"></textarea>
<br>
<label> Phone Number </label>
<input type="text" name="phone" required class="form-control" placeholder="6605281976">
<br>
    <label> Email Id </label>
	<input = "text" name="email" required class="form-control" placeholder="Email">
	<br>
<label> Highest Degree </label>
<select name="highest_degree"  class="form-control">
        <option value="Masters">Masters</option>
        <option value="Bachelors">Bachelors</option>
        <option value="Phd">Phd</option>
    </select><br>
	<label> On OPT? </label> 
	<br>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" checked value="option1"> Yes
</label>
<label class="radio-inline">
  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> NO
</label>
<br>
<br>
<label> Experience </label>
<br>
<select name="experience" class="form-control">
  <option>0-1 yrs</option>
  <option>1-2 yrs</option>
  <option>2-3 yrs</option>
  <option>3-4 yrs</option>
  <option>More than 4 yrs</option>
</select>
<br>
<label> University </label>
<input type="text" name="university" required class="form-control" placeholder="University"><br>

<label> Job Preference </label> 
<select name="job_preference"  class="form-control">
        <option value="Full time/Part time">Full time/Part time</option>
        <option value="Contract">Contract</option>
        <option value="Internship">Internship</option>
    </select>
<br>

<input type= "submit" name="Submit" class="btn btn-success" value="Save">
 <a href = "/viewProfile" class="btn btn-danger"> Cancel </a>  


</form>
<% include partials/footer %>
